ol {
  color: rgb(143, 34, 153);
  padding: 1em 2em;
  margin: 0.5em 0.5em;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid red;
}

.button1 {
  background-color: rgb(46, 45, 45);
  color: white;
  margin-top: 1em;
}

.span1 {
  color: red;
}
label {
  margin: 20px 0 5px 0;
}

.title {
  color: black;
  font-size: 2em;
  margin: 20px 0;
}
/* 
#block {
  border: 2px solid red;
} */
